/* body { */
/*   width: 100%; */
/*   height: 100%; */
/* } */
/* .decks { */
/*   margin-top: 25%; */
/* } */
/* #queueViewA { */
/*   float: left; */
/* } 

div,
span {
  border: 1px solid black;
}*/

.night-hotel {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  border: none;
  font: normal 60px/1 "Monoton", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 17, 119), 0 0 70px rgb(255, 17, 119), 0 0 80px rgb(255, 17, 119), 0 0 100px rgb(255, 17, 119), 0 0 150px rgb(255, 17, 119);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.night-hotel:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 17, 119), 0 0 35px rgb(255, 17, 119), 0 0 40px rgb(255, 17, 119), 0 0 50px rgb(255, 17, 119), 0 0 75px rgb(255, 17, 119);
}
body {
  background-color: #333;
  color: #ddd;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 15.8px 0;
  padding: 3px;
  background-color: black;
  border-color: red;
  box-shadow: inset 1px 1px 12px 5px rgba(119,119,119,1), 0px 0px 20px #0d0d0d;
}

input[type=range]::-webkit-slider-thumb {
  border: 7px solid rgba(85,85,85,1);
  box-shadow: inset 0.5px 0.2px 7px rgba(119,119,119,1), 0px 0px 5px #000000;
  height: 40px;
  width: 20px;
  border-radius: 3px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
  margin-bottom: -10px;  
}

input:focus {
  outline: none;
  box-shadow: inset 0.5px 0.2px 15px 2px rgba(205,0,0,1), 0px 0px 50px rgba(205,0,0,1);
}

#slider {
  margin-top: 80px;
 
}

#speedSlider {
  width: 300px;
  
}

.timesig {
  font-size: 30px;
}

.record {
  position: relative;
  top: 37px;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
  height: 200px;
}

.spinning {
}

.pad {
  background-image: url('assets/logo.png');
  background-size:cover;
  width: 80px;
  height: 65px;
}

.arm {
  position: absolute;
  top: 6%;
  left: 46.5%;
  height:150px;
}

.armplay {
  -webkit-animation: beat 1s ease;
  animation-fill-mode: forwards;
  transform-origin: 80% 16.5%;
}

.armpause {
  -webkit-animation: beat 1s ease reverse;
  animation-fill-mode: forwards;
  transform-origin: 80% 16.5%;
}

.deck {
  background-color: #777;
  width: 350px;
  padding: 10px;
  margin: 10px;
  height: 80px;
}

.deckButton {
  background-color: #222;
  box-shadow: 2px 2px 4px black;
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin: 5px;
  float: left;
  cursor: pointer;
}

.deckButton:hover {
  background-color: #444;
}

.deckButton:active {
  box-shadow: 0;
  background-color: #888;
}

.turntable {
  height: 280px;
  background-image: url('assets/table_shadow.png');
  background-position: center;
  background-size: 280px 280px;
  background-repeat: no-repeat;
}

/*input[type="range"]  {
 height: 20px;  
 border-style: solid;
 border-width: 10px;
 border-color: black;
 
}*/




@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes beat {
    0% { -webkit-transform: rotate(-42deg); }
    100% { -webkit-transform: rotate(-20deg); }   
}
