/* body { */
/*   width: 100%; */
/*   height: 100%; */
/* } */
/* .decks { */
/*   margin-top: 25%; */
/* } */
/* #queueViewA { */
/*   float: left; */
/* } 

div,
span {
  border: 1px solid black;
}*/

.night-hotel {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  border: none;
  font: normal 60px/1 "Monoton", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 17, 119), 0 0 70px rgb(255, 17, 119), 0 0 80px rgb(255, 17, 119), 0 0 100px rgb(255, 17, 119), 0 0 150px rgb(255, 17, 119);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.night-hotel:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 17, 119), 0 0 35px rgb(255, 17, 119), 0 0 40px rgb(255, 17, 119), 0 0 50px rgb(255, 17, 119), 0 0 75px rgb(255, 17, 119);
}
body {
  background-color: #333;
  color: #ddd;
}

#slider {
  margin-top: 80px;
}

#speedSlider {
  width: 300px;
}

.timesig {
  font-size: 30px;
}

.record {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
  height: 200px;
}

.spinning {
}

.pad {
  background-image: url('assets/logo.png');
  background-size:cover;
  width: 80px;
  height: 65px;
}

.arm {
  position: absolute;
  top: 30px;
  left: 330px;
  height:140px;
}

.armplay {
  -webkit-animation: beat 2s ease;
  animation-fill-mode: forwards;
  transform-origin: 80% 16.5%;
}

.armpause {
  -webkit-animation: beat 2s ease reverse;
  animation-fill-mode: forwards;
  transform-origin: 80% 16.5%;
}

.deck {
  background-color: #777;
  width: 350px;
  padding: 10px;
  margin: 10px;
  height: 80px;
}

.deckButton {
  background-color: #222;
  box-shadow: 2px 2px 4px black;
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin: 5px;
  float: left;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes beat {
    0% { -webkit-transform: rotate(-20deg); }
    100% { -webkit-transform: rotate(0deg); }   
}
